* {
	padding: 0;
	margin: 0;
}
body {
	margin: 0px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #333;
}
a {
	text-decoration: none;
	color: #2773ae;
}
.top_header {
	text-align: center;
	background-color: #2773ae;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}
.content_container {
	padding: 0px 20px 45px;
}
.header_logo {
	display: block;
	text-align: center;
	margin: 14px 0px;
}
.header_login {
	margin: 40px 0px 20px;
}
.header input {
	padding: 4px 6px;
	width: 90px;
	font-family: Arial, Helvetica, sans-serif;
}
.btn {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #006dcc;
	background: linear-gradient(rgb(0, 136, 204));
	padding: 4px 12px;
	border-radius: 4px;
	color: white;
}
.container {
	background-color: #2773ae;
	text-align: center;
	padding: 20px 50px;
	height: 27px;
}
.container select {
	width: 100%;
	border-radius: 4px;
	padding: 4px 6px;
	margin: 0px 0px 10px;
}
.banner_container_img {
	width: 100%;
}
.main_content_left p {
	line-height: 22px;
	padding: 0;
	color: #898989;
	margin: 0;
}
.main_content_right_box {
	border-radius: 5px;
	box-shadow: 0 1px 3px #ccc;
	background-color: #fbfbfb;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
	border-top: 1px solid #f5f5f5;
	padding: 15px 20px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.main_content_right h2 {
	font-size: 18px;
	text-align: left;
}
.main_content_right p {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	text-align: left;
	line-height: 22px;
	padding: 0;
	color: #898989;
}
.btn_warning {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	margin: 17px auto 5px;
	font-weight: 700;
	font-size: 16px;
	padding: 4px 20px;
	line-height: 20px;
	width: 100%;
}
h1 {
	font-size: 32px;
	font-weight: 400;
	margin: 0px 0px 8px;
	padding: 6px 0px 0px;
	line-height: 32px;
	color: #333;
}
h2 {
	font-size: 18px;
	color: #666;
	margin: 0 0 10px;
	line-height: 22px;
	font-weight: 400;
}
.footer_top {
	height: 10px;
	background-color: #898989;
}
.footer_wrapper {
	background-color: #666;
	padding-top: 17px;
}
.footer_wrapper img {
	width: 100%;
	margin: 0px 0px 20px;
}
.footer_wrapper_right {
	padding-left: 10px;
}
.footer_wrapper_right h4 {
	border-bottom: 1px solid #cbcbcb;
	color: #cbcbcb;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}
.footer_wrapper_right ul {
	list-style: none;
	padding-inline-start: 0px;
}
.footer_wrapper_right ul li {
	color: #fff;
	list-style: none;
	border-bottom: 1px solid #898989;
	padding: 5px 0;
}
.footer_wrapper_bottom {
	background-color: #666;
	padding-bottom: 24px;
}

.footer_wrapper_bottom p {
	padding: 12px 0px 0px;
	line-height: 18px;
	color: #cbcbcb;
}
.footer_wrapper_bottom_content {
	padding: 12px 0px 0px;
}
.footer_wrapper_bottom_content h4 {
	border-bottom: 1px solid #cbcbcb;
	color: #cbcbcb;
	font-size: 18px;
	padding-bottom: 8px;
}
.copyright {
	color: ;
	background-color: #333;
	color: #fff;
	padding: 18px 0 13px 14px;
}
